@import "./header.css";
@import "./navbar.css";
@import "./section.css";

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

body::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding-top: 60%;
  z-index: -1;
  background: linear-gradient(90deg, rgb(240, 109, 2, 1) 20%, rgb(223, 187, 9));
}
.container {
  z-index: 1000;
  display: grid;
  gap: 10px;
}
@media only screen and (min-width: 768px) {
  .container {
    padding: 10px 40px;
  }
  body::after {
    padding-top: 20%;
  }
}
.section-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}



.heading {
  font-size: medium;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
}

@media only screen and (min-width: 950px) {
  /* .section-container {
    margin-left: 100px;
    margin-right: 100px;
  } */
  .list {
    font-size: medium;
  }
  .heading {
    font-size: large;
  }
}
